.mascot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    width: 300px;
    height: 400px;
}

.mascot-container img {
    max-width: 100%; /* Bild wird auf die maximale Breite des Containers angepasst */
    height: auto; /* Höhe bleibt im Verhältnis zur Breite */
    min-width: 100px;
    position: relative;
    top: 50%; /* Vertikale Zentrierung */
}