.mascot-container {
    display: flex;
    margin: 0.5rem;
    height: 100%;
    max-width: 300px;
    min-width: 100px;
}

.mascot-container img {
    max-width: 100%; /* Bild wird auf die maximale Breite des Containers angepasst */
    height: auto; /* Höhe bleibt im Verhältnis zur Breite */
    min-width: 100px;
    position: relative;
    /* top: 50%; */ /* Vertikale Zentrierung */
    top: -4vw;
}